@import './base.css';

body {
  margin: 0;
}

a {
  color: #022a50 !important;
  text-decoration: none !important;
}

a:visited {
  color: #022a50 !important;
}

a:active {
  color: #022a50 !important;
}

a:hover {
  text-decoration: underline !important;
}
