@import './base.css';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#content aside a {
  color: #414141;
}

a {
  text-decoration: none !important;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

a:hover {
  text-decoration: underline !important;
}
